.app {
  padding: 0 20px;
}

/*.app-title {
  padding-left: 20px;
}*/

.button-group {
  display: flex;
  flex-flow: row nowrap;
  width: 500px;
}

button {
  width: 143px;
  margin-right: 10px;
  padding-left: 75px;
  padding-right: 25px;
}

button.true {
  background-color: blue;
}

.container {
  margin: 0;
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border: 2px solid #eee;
  width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 10px;
  padding-left: 0;
}
/*.container {
  display: flex;
  margin-left: 20px;
  margin-right: 0px;
  padding: 0;
  flex-flow: row;
}

.section {
  display: flex;
  border: 2px solid #eee;
  margin: 0 auto;
  padding-right: 0;
  overflow: hidden;
}*/

.image {
  float: left;
  padding: 5px;
  width: 150px;
  margin: 5px;
}

img {
  width: 100%;
}

.listInfo {
  text-align: left;
  padding-top: 20px;
  overflow: hidden;
}

.street {
  font-weight: 500;
  color: #007ad5;
  font-size: 20px;
}

.state {
  font-weight: 500;
  color: #007ad5;
  font-size: 20px;
}

.price {
  font-size: 40px;
}

.features {
  font-size: 15px;
  opacity: 0.9;
}

li {
  float: left;
  list-style-type: none;
  position: relative;
}

li + li {
  margin-left: 4px;
}

li:before {
  content: "\2219";
  font-size: 2.5em;
  line-height: 0;
  position: relative;
  top: .2em;
  left: -.06em;
}

li:first-child:before {
  content: "";
}

.year {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 10px;
  color: gray;
}
